target/
.idea/
*.iml
*.ipr
*.iws
*.log
*.deb
.DS_Store
dump.rdb
template.html
*.class
.arcconfig
EM-workflowActors/src/test/resources/preview.html
Akka-WorkflowEngine/template.html
WE-engine/src/main/alternate-resources/local/wfe.properties
projectFilesBackup/
applications/content-scheduler/dependency-reduced-pom.xml
applications/content-selector/dependency-reduced-pom.xml
applications/mr-jobs/dependency-reduced-pom.xml
applications/tracking/dependency-reduced-pom.xml
